
body main#app, body header#nav, h3, h2, p, li, a {
    font-family: 'Lato', sans-serif;
}
header#nav {
    /* background: #e5e5e5; */
    margin: 0 auto;
    padding: 0;
}
main#app {
    padding: 0;
}

header#nav ul {
    text-align: right;
    padding: 1rem 2rem;
    /* color: #777; */
}

header#nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0rem 1rem;
}

label {
    font-style: italic;
    color: #ff8000;
    font-size: .8rem;
}
#poem-lines {
    margin: 1rem 0rem 2.4rem 0rem;
}
p {
    line-height: 1em;
    margin: 0.5em 0em;
}
main {
    width: 80%;
    max-width: 25rem;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    width: 18rem;
}

input#search-text {--form-element-placeholder-color: gainsboro;
}

body main h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

#search-form input, #search-form select {
    margin-bottom: 2.5rem;
    max-width: 16rem;
    padding: .5rem;
    height: 2.5rem;
    font-size: .8rem;
}

#search-form button, #poem-section button {
    display: inline-block;
    width: auto;
    /* max-width: 11rem; */
    /* margin: auto; */
    font-size: .8rem;
    padding: .6rem 1.2rem;
}
#source-link {
    display: none;
}

section#poem-section {
    display: none;
}
main.no-results  #back-btn{
    visibility: hidden;
}

h2#poem-title {
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
}

body {
}

button {
    background: #444;
}

button:hover {
    background: #777;
}

div.center {
    text-align: center;
}

section#poem-section {
    padding: 0rem 4rem;
}

header ul a {
    color: #555;
}

header ul a:hover {
    /* color: #777; */
    text-decoration: rgb(242 101 6) wavy underline;
}
h2 span.not-so-bold {
    font-weight: normal;
}
span.terms {
    color: rgb(242 101 6);
}